.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}


h1, h2, h5{
    color:#0B2972 ;
}

.btn-primary {
    color: #fff;
    background-color: #1e4f8e;
    border-color: #0B2972;
}
.card{
    margin-bottom: 5px;
    
}
.card-body{
    padding: 6px;
}

// .btn{
//     margin: 1px;
// }
.text-warning{
    color:#f7af19;
}
// .text-primary{
//     color: #0B2972 !important;
// }

.postDate{
    font-size: 13px;
    // color: whitesmoke
}
.customCardFooter{
    padding: 5px;
}
.card-footer{
    padding: 4px;
}
.errorSnack{

    background-color: #dc3545;
}
.alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }