.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545; }

h1 {
  color: #0B2972; }

.btn-primary {
  color: #fff;
  background-color: #1e4f8e;
  border-color: #0B2972; }

.card {
  margin-bottom: 5px; }

.btn {
  margin: 1px; }

.text-warning {
  color: #f7af19; }

.alert-warning {
  background-color: #f7af19;
  color: #0B2972; }
